html, body{
    margin: 0px;
    height: 100%;
}

#map{
    height: 92%;
    width: 100%;
}



#banner{
    height: 10%;
    width: 100%;
    background-color: darkgray;
    padding-top: 15px;
}


#user_in{
    font-family: Tahoma, sans-serif;
    float: right;
    padding-right: 20px;
}

#logo{
    float: left;
    width: 80px;
    height: 80px;
}

#title{
    float: left;
    font-family: Tahoma, sans-serif;
    background-color: darkgray;
}